.text{
    display: inline;
    width: 600px;
    font-size: 70px;
}

.purple{
    color: rgb(171, 20, 226);
}

.textContainer{
    margin-top: 5rem;
    margin-left: -2rem;
    margin-bottom: -2rem;
    left: 50px;
    height: 280px;
    width: 600px;
    display: block;
}

.app{
    display: inline;

}
  
.text2{
    font-size: 70px;
    color: black;
}

.cursor{
    font-size: 60px;
}

.skills{
    margin-top: -100px;
    margin-left: 4rem;
    color: black;
    display: inline-block;
    
    margin-left: 6rem;
}

.icons{
    padding: 8px;
    font-size: 25px;

}

.stackText{
    font-size: 20px;
}

.allTechicons{
    margin-left: 20px;
}

#words{
    opacity: 0.8;
}

.imgs{
    margin-left: 600px;
    right: 0;
}
.img{
    height: 250px;
    width:250px

}

.image1{
    
    height: 350px;
    width: auto;
    animation: rotateLeft 20s linear infinite;
}
  
.image2{
    height: 350px;
    width: auto;
    margin-left: -10rem;
    animation: rotateRight 18s linear infinite;
}
  

.textContainer{
    display: inline-block;
}

@keyframes rotateRight {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes rotateLeft {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }