.text{
    display: inline;
    width: 600px;
    font-size: 70px;
}

.purple{
    color: rgb(171, 20, 226);
}

.textContainer{
    margin-top: 5rem;
    margin-left: 5rem;
    left: 50px;
    height: 280px;
    width: 600px;
}

.text2{
    font-size: 70px;
    color: black;
}

.cursor{
    font-size: 60px;
}

.skills{
    color: black;
    margin-top: 101px;
    display: inline-block;
    
    margin-left: 6rem;
}

.icons{
    padding: 8px;
    font-size: 25px;

}

.stackText{
    font-size: 20px;
}

.allTechicons{
    margin-left: 20px;
}

#words{
    opacity: 0.8;
}
