.footer{
    height: 300px;
    background-color: rgb(67, 67, 67);
    width: 100%;
    display: flex;
    
}

.copyright{
    color: rgb(191, 191, 191);
    width: 100%;
    display: flex;
    flex: end;
    justify-content: center;
    font-size: 23px;
    margin-bottom: 2rem;

}