@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.heading {
  margin: 1rem;
  padding: 10px;
  border: solid black 2px;
  border-radius: 15px;
  color-scheme: light dark;
  height: 200px;
  width: 180px;
}

.tab {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  padding-left: 1rem;
}

.mainLogo {
  text-decoration: none;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  /* margin: 20px; */
  padding-top: 10px;
  font-size: 37px;
}

.logoDiv {
  padding-top: 20px;
  /* margin-left: 10px; */
  width: 200px;
}

.header {
  height: 60px;
  padding-left: 13%;
  padding-right: 13%;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  /* max-width: 1200px; */
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

}
